@model Site.Models.Otopark

@{
    ViewBag.Title = "Otopark Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fas fa-edit"></i> Otopark Güncelle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Otopark</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.OtoparkID)

        <div class="form-group">
            @Html.LabelFor(model => model.DaireID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-building"></i></span>
                </div>
                @Html.EditorFor(model => model.DaireID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DaireID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plaka, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-car"></i></span>
                </div>
                @Html.EditorFor(model => model.Plaka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Plaka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AracSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-car-side"></i></span>
                </div>
                @Html.EditorFor(model => model.AracSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AracSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UcretliParkYeriTutari, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                </div>
                @Html.EditorFor(model => model.UcretliParkYeriTutari, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UcretliParkYeriTutari, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Güncelle
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Otopark", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        .input-group-prepend .input-group-text {
            background-color: #f8f9fa;
        }

        .fa {
            margin-right: 5px;
        }
    </style>
}
